body {color: #ebebec;}

a, a:hover, a:active, a:focus {outline: 0;}

#bg {background: url('http://73adc0e8ebac205046b3-f166d868b29010bc304fe7760b66a9b0.r88.cf1.rackcdn.com/img/backgrounds/shine.png') no-repeat;
    position: fixed;top: 0;bottom: 0;left: 0;right: 0;z-index: -1;background-size: 100% auto;}

.bc_b06 {background-color: rgba(0, 0, 16, 0.6);width: 100%;}
.container,
.site_width {max-width: 970px;margin: 0 auto;}


#background_cycler {padding: 0; margin: 0; width: 100%; position: absolute; top: 0; left: 0; z-index: -1;}
#background_cycler img {position: absolute; left: 0; top: 0; width: 100%; z-index: 1; background-color: white;}
#background_cycler img.active {z-index: 3}

.navbar {margin-bottom: 0;}
.navbar-default {border: 0;background-color: rgba(0, 0, 16, 0.6);}
.navbar-default a.kep {margin: 0;padding: 1em 0.6em;float: left;}
.navbar-default img.kep {height: 1.4em;}
#navbar .menu_list {width: 75% ; font-size: 1.1em;}
#navbar .menu_list li {width: 20%}
#navbar li {padding: 0 0;text-align: center;}
#navbar li a {color: #ebebec;font-weight: bold}
#navbar .active a {background-color: transparent;}
#navbar a:hover {color: #42C0FF;}
.navbar-brand {padding: 0;}
.navbar-brand img {height: 45px;display: block;float: left;}


.container-fluid.c_body {padding: 4em 0 0 0;}

.container.c_body {padding: 0 1em;background: #fff;max-width: 970px;}
.container.c_body section.bc_b06 {background: none;color: #7d7d7d;margin: 0;}
.container.c_body section.bc_b06 .row > div {margin: 1em 0;}
.container.c_body section.bc_b06 h2 {color: #3f444a;}
.container.c_body section.bc_b06 span {color: #d71d5c;}
.container.c_body section.bc_b06 p {line-height: 1.8em;}
.border_left_silver {border-left: 9px solid #e0e0e0;}
.container.c_body section.bc_b06 hr {clear: both;display: block;height: 1px;width: 100%;margin: 10px auto;background-color: #e0e0e0;}

.youtube_box_center{text-align: center;}
section.bc_b06 {margin-top: 11%;}
section.bc_b06 .row {padding: 0;}
.content_text_box {font-weight: bold;}
.content_text_box span {font-size: 1.2em;}

.contact_text_a a:active,
.contact_text_a a:link,
.contact_text_a a:visited {color: white;}
.contact_text_a a:hover {color: #42C0FF; text-decoration: none;}

span {font-size: 1.2em;}

#mob_img_box {width: 250px;position: relative;margin: -75px auto 0 auto;text-align: center;min-height: 50px;}
#mob_img_box img {width: 250px;position: absolute;top: 0;left: 0;z-index: 0;}
#mob_img_box img.active {z-index: 1}

.home_black_box {padding: 2em 1em;}
.home_black_box h1 {font-size: 2.2em;}

.social_img {padding-right: 0.2em;}

#alphabetic_ul ul{list-style-type: upper-alpha;}
#alphabetic_ul li{margin: 1em 0}

footer {position: relative;bottom: 0;line-height: 3em;}
footer a {color: #ebebec;font-weight: bold;}
footer a:hover {color: #42C0FF;text-decoration: none;}







@media (min-width: 768px) and (max-width: 1250px) {
    #background_cycler img {width: 100%;}
}
@media (min-width: 240px) and (max-width: 768px) {

    /*#bg {background-size: auto 100%;}
    #background_cycler img {width: auto;}*/
    #navbar {background-color: rgba(0, 0, 16, 0.8);}
    #navbar .menu_list {width: 100%}
    #navbar .menu_list li {width: 100%;text-align: left;}
    #mob_img_box {margin: 0 auto;}
    .youtube_box_center iframe {width: 90%;}
}