body {color: #3f444a;}

a, a:hover, a:active, a:focus {outline: 0;}

#bg {background: url('http://73adc0e8ebac205046b3-f166d868b29010bc304fe7760b66a9b0.r88.cf1.rackcdn.com/img/backgrounds/shine.png') no-repeat;
    position: fixed;top: 0;bottom: 0;left: 0;right: 0;z-index: -1;background-size: 100% auto;}

.dn {display: none;}
.bc_b06 {background-color: rgba(0, 0, 16, 0.6);width: 100%;}

.lp_tv5,
.container,
.site_width {max-width: 970px;margin: 0 auto;}

.bg_color_white {background-color: #fff;}


#background_cycler {padding: 0; margin: 0; width: 100%; position: absolute; top: 0; left: 0; z-index: -1;}
#background_cycler img {position: absolute; left: 0; top: 0; width: 100%; z-index: 1; background-color: white;}
#background_cycler img.active {z-index: 3}

.navbar {margin-bottom: 0;}
.navbar-default {border: 0;background-color: rgba(0, 0, 16, 0.6);}
.navbar-default a.kep {margin: 0;padding: 1em 0.6em;float: left;}
.navbar-default img.kep {height: 1.4em;}
#navbar .menu_list {width: 70% ; font-size: 1.2em;}
#navbar .menu_list li {}
#navbar li {padding: 0 0;text-align: center;}
#navbar li a {color: #ebebec;font-weight: bold}
#navbar .active a {background-color: transparent;}
#navbar a:hover {color: #42C0FF;}
.navbar-brand {padding: 0;}
.navbar-brand img {height: 45px;display: block;float: left;}



footer {position: relative;bottom: 0;line-height: 3em;color: #ebebec;}
footer a {color: #ebebec;font-weight: bold;}
footer a:hover {color: #42C0FF;text-decoration: none;}


.home_box {}
.home_box article {clear: both;}
.home_box .slide {width: 100%;min-height: 300px; padding-top: 1em;}
.home_box .slide img {width: 100%;}
.home_box .y_videos iframe {width: 100%;height: 315px;}
.home_box .y_videos > div {padding: 1em 0;border-bottom: silver solid 1px; }
.home_box .y_videos .video_text {min-height: 315px;line-height: 315px; text-align: justify; }
.home_box .y_videos .video_text  span {display: inline-block;vertical-align: middle;line-height: 1.8em; font-size: 1.2em; text-align: justify;}
.home_box .news {clear: both;}
.home_box .news > div {padding: 1em;}
.home_box .news > div > div {border: silver solid 1px;padding: 1em; text-align: justify;min-height: 24em;}
.home_box .news .read_more {display: block;text-align: right;}
.home_box .news img {width: 100%; padding-bottom: 0.6em;}

.youtube_text_box {width: 80%; background-color: black; line-height: 1.5em; padding: 0.3em 0.5em; font-style: normal; font-family: Roboto,Arial,Helvetica,sans-serif; font-size: 1.2em;color: white; float: left; opacity: 0.8; position: absolute; bottom: 2em; }


.vertical-content {width: 10000px;-webkit-transition-property: margin-left;-webkit-transition-duration: 0.4s;-webkit-transition-timing-function: ease-in;
	-moz-transition: margin-left 0.4s ease-in;-o-transition: margin-left 0.4s ease-in;-ms-transition: margin-left 0.4s ease-in;}

.box.featured .slider_content {width: 100%;overflow: hidden;position: relative;height: 300px;}
.box.featured .vertical-content {position: absolute;left: 0px;margin-left: 0;}
.box.featured .vcontent {width: 630px;float: left;}
.box.featured .carousel {position: absolute;bottom: .1em;right: .3em;}
.box.featured .carousel li {float: left;list-style-type: none;background-color: #c0c0c0;margin: .1em;padding: 0 0.5em;}
.box.featured .carousel li.selected {background-color: cornsilk;}



.slide .cs-container .cs-nav-cont {visibility: hidden;}
.slide .cs-container .cs-nav-play {bottom: 0.5em; right: 0.5em; }
.slide .cs-container .cs-title {line-height: 1.5em; padding: 0.3em 0.5em; font-style: normal; font-family: Roboto,Arial,Helvetica,sans-serif; font-size: 1.2em; bottom:1.6em; width:80%}
.slide .cs-container .cs-nav-prev,
.slide .cs-container .cs-nav-next {visibility: hidden;  }





























@media (min-width: 970px) and (max-width: 10250px) {
    #background_cycler img {width: 100%;}
    .home_box .y_videos .row .video_text {padding-left: 0px;}
}

@media (min-width: 768px) and (max-width: 970px) {
    #background_cycler img {width: 100%;}
    .home_box .y_videos .row .video_text {padding-left: 15px;}
}
@media (min-width: 240px) and (max-width: 768px) {

    /*#bg {background-size: auto 100%;}
    #background_cycler img {width: auto;}*/
    #navbar {background-color: rgba(0, 0, 16, 0.8);}
    #navbar .menu_list {width: 100%}
    #navbar .menu_list li {width: 100%;text-align: left;}
    #mob_img_box {margin: 0 auto;}
    .youtube_box_center iframe {width: 90%;}
}