body {color: #3f444a;}

a, a:hover, a:active, a:focus,
button, button:hover, button:active, button:focus {outline: 0;}

#bg {background: url('http://73adc0e8ebac205046b3-f166d868b29010bc304fe7760b66a9b0.r88.cf1.rackcdn.com/img/backgrounds/shine.png') no-repeat;
    position: fixed;top: 0;bottom: 0;left: 0;right: 0;z-index: -1;background-size: 100% auto;}

.dn {display: none;}
.bc_b06 {background-color: rgba(0, 0, 16, 0.6);}
.bc_g06 {background-color: rgba(34, 88, 103, 0.6);}
.bc_o06 {background-color: rgba(210, 132, 102, 0.6);}
.bc_r06 {background-color: rgba(145, 42, 66, 0.6);}

.lp_tv5,
.container,
.site_width {max-width: 970px;margin: 0 auto;}

.bg_color_white {background-color: #fff;}

.bl9 {border-left: 9px solid #e0e0e0;}

#background_cycler {padding: 0; margin: 0; width: 100%; position: absolute; top: 0; left: 0; z-index: -1;}
#background_cycler img {position: absolute; left: 0; top: 0; width: 100%; z-index: 1; background-color: white;}
#background_cycler img.active {z-index: 3}

.navbar {margin-bottom: 0;}
.navbar-default {border: 0;background-color: rgba(0, 0, 16, 0.6);}
.navbar-default a.kep {margin: 0;padding: 1em 0.6em;float: left;}
.navbar-default img.kep {height: 1.4em;}
#navbar .menu_list {width: 80% ; font-size: 1.1em; text-transform: uppercase;}
#navbar .menu_list li {}
#navbar li {padding: 0 0;text-align: center;}
#navbar li a {color: #ebebec;font-weight: bold; padding: 15px 10px;}
#navbar .active a {background-color: transparent;}
#navbar a:hover {color: #42C0FF;}
.navbar-brand {padding: 0;}
.navbar-brand img {height: 45px;display: block;float: left;}



footer {position: relative;bottom: 0;line-height: 3em;color: #ebebec;}
footer a {color: #ebebec;font-weight: bold;}
footer a:hover {color: #42C0FF;text-decoration: none;}


.home_box {}
.home_box article {clear: both;}
.home_box .slide {width: 100%;min-height: 300px; padding-top: 1em;}
.home_box .slide img {width: 100%;}
.home_box .y_videos iframe {width: 100%;height: 315px;}
.home_box .y_videos > div {padding: 1em 0;border-bottom: silver solid 1px; }
.home_box .y_videos .video_text {min-height: 315px;line-height: 315px; text-align: justify;}
.home_box .y_videos .video_text  span {display: inline-block;vertical-align: middle;line-height: 1.8em; font-size: 1.2em; text-align: justify;}
.home_box .news {clear: both;}
.home_box .news > div {padding: 1em;}
.home_box .news > div > div {border: silver solid 1px;padding: 1em; text-align: justify;min-height: 28em;}
.home_box .news .read_more {display: block;text-align: right;}
.home_box .news img {width: 100%; }
.home_box .news span {padding-top: 1em; display: block; clear: both; }
.home_box .news .title {max-width: 90%; background-color: black; line-height: 1.5em; padding: 0.3em 0.5em; font-style: normal; font-family: Roboto, Arial, Helvetica, sans-serif; font-size: 1em; color: white; float: left; opacity: 0.8; text-align: left; clear: both;}

.youtube_text_box {width: 80%; background-color: #d91c5b; line-height: 1.5em; padding: 0.3em 0.5em; font-style: normal; font-family: Roboto,Arial,Helvetica,sans-serif; font-size: 1.2em;color: black; float: left; /*opacity: 0.8;*/ position: absolute; bottom: 2em; }
.youtube_text_box_2 {width: 80%; background-color: #00ef9d; line-height: 1.5em; padding: 0.3em 0.5em; font-style: normal; font-family: Roboto,Arial,Helvetica,sans-serif; font-size: 1.2em; color: black; float: left; /*opacity: 0.8;*/ position: absolute; bottom: 2em; color: black;}


.vertical-content {width: 10000px;-webkit-transition-property: margin-left;-webkit-transition-duration: 0.4s;-webkit-transition-timing-function: ease-in;
	-moz-transition: margin-left 0.4s ease-in;-o-transition: margin-left 0.4s ease-in;-ms-transition: margin-left 0.4s ease-in;}

.box.featured .slider_content {width: 100%;overflow: hidden;position: relative;height: 300px;}
.box.featured .vertical-content {position: absolute;left: 0px;margin-left: 0;}
.box.featured .vcontent {width: 630px;float: left;}
.box.featured .carousel {position: absolute;bottom: .1em;right: .3em;}
.box.featured .carousel li {float: left;list-style-type: none;background-color: #c0c0c0;margin: .1em;padding: 0 0.5em;}
.box.featured .carousel li.selected {background-color: cornsilk;}



.slide .cs-container .cs-nav-cont {visibility: hidden;}
.slide .cs-container .cs-nav-play {bottom: 0.5em; right: 0.5em; }
.slide .cs-container .cs-title {opacity: 1; color: black; background-color: #1b75bc; line-height: 1.5em; padding: 0.3em 0.5em; font-style: normal; font-family: Roboto,Arial,Helvetica,sans-serif; font-size: 1.2em; bottom:1.6em; width:80%}
.slide .cs-container .cs-nav-prev,
.slide .cs-container .cs-nav-next {visibility: hidden;  }



.app_box {padding: 1em;}
.app_box h1 {clear: both;margin: 2em 0;font-size: 2em;}
.app_box .video_box {text-align: center;}
.app_box .share_box {text-align: center;}
.app_box .img_box {height: 16em;}
.app_box .img_box img {width: 10em;display: block;position: absolute;top: 0;left: 10em;}
.app_box .p_box {min-height: 16em;line-height: 16em;vertical-align: middle;}
.app_box .p_box p {display: inline-block;vertical-align: middle;line-height: 1.5em;text-align: justify;}


#share_box {padding: .5em;margin-top: -8000px;}


.first_season_box {color: #ebebec;}
.first_season_box .fs_title {position: relative;height: 3em;margin: 1em 0;}
.first_season_box .fs_title h1 {}
.first_season_box .fs_title div {position: absolute;height: 3em;width: 700px;top: 0;left: -700px;}
.first_season_box .y_video_box {text-align: center;padding: 0 1em 0.5em 1em;}
.first_season_box .y_video_box iframe {width: 100%;height: 240px;}
.first_season_box .text_space {padding: .5em;font-size: .8em;text-align: justify;margin-bottom: 1em;}
.first_season_box .text_space h2 {font-size: 1.8em;}


.press_box {color: #ebebec;}
.press_box article {margin-top: 2em;padding-bottom: 1em;}
.press_box .fs_title {position: relative;height: 3em;margin: 1em 0;}
.press_box .fs_title div {position: absolute;height: 3em;width: 700px;top: 0;left: -700px;}



/*	alert box	->	*/
#fullscreen {background: url('http://www.risingstars.asia/rdr/images/home/black-70.png') repeat;position: fixed;width: 100%;height: 100%;top: 0;left: 0;z-index: 1000;visibility: visible;color: #3f444a;}
#fullscreen div.alert {text-align: left;position: absolute;top: 40%;left: 50%;width: 400px;margin-left: -200px;background-color: #E7E8D3;padding: 20px;border: 2px solid #a1a1a1;}
#fullscreen div.br05 {-moz-border-radius: 5px;-webkit-border-radius: 5px;-khtml-border-radius: 5px;border-radius: 5px;}
#fullscreen div.alert div.text {padding-bottom: 20px;text-align: center;font-family: Verdana;}
/*	alert box -> modalwindow	*/
#fullscreen {background: url('http://www.risingstars.asia/rdr/images/home/black-70.png') repeat;position: fixed;width: 100%;height: 100%;top: 0;left: 0;z-index: 99999999;visibility: visible;}
#fullscreen div.modalwindow {text-align: left;position: absolute;top: 40%;left: 50%;width: 400px;margin-left: -200px;background-color: #fff;padding: 0px; border: 10px solid #fff;}
#fullscreen div.br05 {-moz-border-radius: 10px;-webkit-border-radius: 105px;-khtml-border-radius:10px;border-radius: 10px;}
#fullscreen div.modalwindow div.title { background:#fff; padding:5px 10px ; color:#333; font-size:20px; font-weight:bold; text-align:left; }
#fullscreen div.modalwindow div.title.red { background:#EA9797; color:#fff;  border-bottom:1px solid #a00; }
#fullscreen div.modalwindow div.content { background:#fff; padding:10px; }
#fullscreen div.modalwindow div.foot { background:#fff; color:#333; padding:10px;  text-align:center; }
#fullscreen div.modalwindow div.foot a { display:inline-block; padding:5px 10px; margin:0px 5px; background:#666; border:1px solid #333; color: #fff; font-weight:bold;
	-moz-border-radius: 5px;-webkit-border-radius: 5px;-khtml-border-radius: 5px;border-radius: 5px; }
#fullscreen div.modalwindow div.foot a:hover { background:#999; }
/*	alert box	<-	*/


.loader1 {position: absolute;left: 45%; top: 20%;width: 40px;}
.youtube_video_img {width: 100%;}

.y_img_box {position: relative;overflow: hidden;}
.y_img_box img {width: 100%;}
.y_img_box img.play {display: block;position: absolute;top: 45%;left: 42%;width: 15%;cursor: pointer;}











@media (min-width: 768px) and (max-width: 10250px) {
    #background_cycler img {width: 100%;}
    .home_box .y_videos .row .video_text {padding-left: 0;}
}
@media (min-width: 240px) and (max-width: 767px) {

    /*#bg {background-size: auto 100%;}
    #background_cycler img {width: auto;}*/
    #navbar {background-color: rgba(0, 0, 16, 0.8);}
    #navbar .menu_list {width: 100%}
    #navbar .menu_list li {width: 100%;text-align: left;}
    #mob_img_box {margin: 0 auto;}
    .youtube_box_center iframe {width: 90%;}
}